[2015-01-16 15:09] gavinjpotts opened #8 "Files missing in CocoaPods?"
I just did a Pod Update and my build now gets the error:
/Users/gavin/montherly/Montherly/Pods/ALPValidator/ALPValidator/ALPValidator.h:31:9: 'UIView+ALPValidator.h' file not found

I checked the Pod file and noticed it in fact was not included (but did notice it in this repo) - was there a mistake with the cocoapod?

[2015-01-16 15:14] gavinjpotts commented on #8
I take it back - this was a local CocoaPods bug.

[2015-01-16 15:14] #8 closed

[2015-02-15 07:55] pcicp opened #9 "podsepc public_header_files exclude "ALPValidatorRule.h"?"
dear adamwaite, why public_header_files exclude "ALPValidatorRule.h"?

i want to use rule then inherit and override something. in my xcode project (using Pods), i can't import ALPValidatorRule.h

could you update podsepc?

[2015-02-15 15:13] adamwaite commented on #9
I had hidden the rule file because I couldn't think of a reason to expose it, why do want to override something?

I plan to refactor the library to use protocols over an abstract rule object eventually anyway.

[2015-02-15 15:14] adamwaite commented on #9
(closed by accident, reopened now)

[2015-02-19 16:14] adamwaite opened #10 "Explore 'rule' protocol over abstract rule interface"
Explore 'rule' protocol over abstract rule interface

[2015-02-25 03:37] picp commented on #9
e, i want to add new rule like email, url (this is a suck that using a block for these generic validation every time) . also i need a name/tag/identifer to lookup specified rule in validator rules, auto created same type message, resort validation order, or control other details.

[2015-02-25 08:57] adamwaite commented on #9
I'll take a look at this today. I'm unsure what your last sentence is trying to say I'm afraid. If you need all this additional functionality why don't you fork the library?

[2015-06-26 07:14] jona-as opened #11 "Potentially risky use of copy-properties"
In AJWValidator there are two properties of type NSMutableArray, which are declared as copy. If one would use these properties to set the respective arrays it would cause a problem which most likely will result in a crash:

[code]

Due to the usage of copy, the setter would copy the given NSMutableArray into an IMMUTABLE NSArray instance hence causing every call of NSMutableArray specific methods

[2015-06-26 09:00] adamwaite commented on #11
Well spotted. Sorted in https://github.com/adamwaite/AJWValidator/commit/ca670a5f359317b7f6d2242f9daa9ef6b89e5401.

[2015-06-26 09:00] #11 closed

[2015-06-26 09:01] #9 closed

[2015-08-08 21:52] adamwaite commented on #10
Done in next version.

[2015-08-08 21:52] #10 closed

[2015-09-20 00:43] 7wonders opened #15 "validator dependencies"
Really nice library :)

It would be great to be able to set a priority of dependencies. At the moment if setting the required and min length validator for example, it will return errors for both. It would be nice if you could set that it will only validate min length if required is already validated. This becomes especially useful with remote validation i.e. don't bother hammering the server if th

[2015-10-14 07:56] badalpub1991 opened #16 "no validation for url ?"
is this class not contain validation for url ?

[2015-10-16 12:14] adamwaite commented on #16
Not specifically, use the pattern rule or feel free make a pull request. Thanks.

[2015-11-09 00:19] brcolow opened #17 "How to make UITextView implement ValidatableInterfaceElement?"
Hello,

Great library! I have really enjoyed using it so far to validate UITextField's, it was painless. I was wondering how one could validate for a UITextView. After reading the readme, I came up with:

[code]

which is probably very wrong, because it is just a copy and paste, and the compiler gives these errors:

Type 'UITextView' does not conform to protocol 'ValidatableInterfaceElement'
Use o

[2015-11-09 09:14] adamwaite commented on #17
Hey,

Glad you're liking the library.

`UITextView` is a little tricky because it doesn't inherit from `UIControl` so `addTarget` and similar are not in play. We could use the `delegate` property of the text view and validate in `UITextViewDelegate`'s change methods but I don't want to hijack that from users of the library. My first thought is to use [KVO](http://stackoverflow.com/questions/240922

[2015-11-09 22:46] brcolow commented on #17
Thanks for your help - I will play with it and see if I can get it to work. I understand about you not wanting the library to hijack the UITextViewDelegate - that makes a lot of sense.

[2015-11-10 10:17] adamwaite commented on #17
Great. I think there's something you can do to forward delegate methods through an `NSProxy` too, not sure if I just made that up though, will have a play soon.

[2015-11-10 23:52] brcolow commented on #17
Just to report back, I was able to get it working by implementing UITextViewDelegate, and then implementing textViewDidChange thusly:

[code]

Works like a charm =)

[2015-11-11 00:21] adamwaite commented on #17
Good stuff, glad you got it working. I'm going to leave this open and try building it into the lib somehow when I find some spare time. Good luck with the rest of your project!

[2015-12-09 09:56] adamwaite commented on #15
Hey. Thanks for the suggestion. Actually that makes much more sense, I should have built that in. Unfortunately I'm no longer maintaining the Objective-C implementation because I use Swift at work and at home now, but please feel free to make a pull request on the objc branch. Otherwise, perhaps create 2 validator objects (one for remote) only calling the second once the first completes.

[2015-12-09 09:56] #15 closed

[2015-12-09 10:08] adamwaite opened #19 "Create validation for credit cards"

[2015-12-09 13:00] #19 closed

[2015-12-09 13:00] adamwaite commented on #16
Added now sir.

[2015-12-09 13:00] #16 closed

[2016-01-26 18:10] ph4r05 opened #21 "Swift library cannot be used in objectiveC code"
I am not able to use the library in pure ObjectiveC code.
Isn't @objc missing?

[2016-01-26 18:31] adamwaite commented on #21
It won't work in Objective-C. Uses far too many Swift only features. Consider using the old Objective-C library: https://github.com/adamwaite/Validator/tree/objc. It's a totally different API but mostly does the same job.

[2016-01-26 18:31] #21 closed

[2016-02-16 19:12] txaidw opened #22 "Error while trying to set via Carthage"
I`m getting this error when I add this repo in my Cartfile. like this:
github "adamwaite/Validator"
this is the error:

`Failed to discover shared schemes in project Example.xcodeproj — either the project does not have any shared schemes, or xcodebuild timed out.

If you believe this to be a project configuration error, please file an issue with the maintainers at https://github.com/adamwaite/Vali

[2016-02-17 16:19] adamwaite commented on #22
Hi,

It was actually a pull request that added Carthage support. I've never used Carthage personally as I use CocoaPods instead.

Feel free to pull it and fix it.

Thanks

[2016-02-17 16:21] adamwaite commented on #22
The warning should make enough sense though right? Just make the schemes shared in the workspace.

[2016-02-17 21:13] txaidw commented on #22
I will try to make a PR then

[2016-02-19 01:18] txaidw commented on #22
I was about to make a PR then i see that someone already fixed this, the only thing that is still missing to fix Carthage support is to release another version 1.1.1 with the fix from the latest commit. I think this issue can be closed when the new release is out!

Thanks!

[2016-02-22 09:58] adamwaite commented on #22
[Done](https://github.com/adamwaite/Validator/releases/tag/v1.1.1)

[2016-02-22 09:58] #22 closed

[2016-03-15 18:38] MartijnSchoemaker opened #24 "Minimum deployment target iOS 9"
I added the module via Carthage. But I get this error:

Module file's minimum deployment target is ios9.0 v9.0: /Users/*/Carthage/Build/iOS/Validator.framework/Modules/Validator.swiftmodule/x86_64.swiftmodule

Isn't it possible to target on iOS 8?

[2016-03-17 03:08] Shun-Nakahara commented on #24
Module file's minimum deployment target is ios9.0 v9.0: /Users/*/Carthage/Build/iOS/Validator.framework/Modules/Validator.swiftmodule/arm64.swiftmodule

I am similar.

[2016-03-17 05:47] adamwaite commented on #24
Cool, make a pull request and i'll fix. I use CoacoaPods. Carthage has been added purely by contributors.

[2016-03-23 09:57] adamwaite commented on #24
I'm sorry, I thought it was a Carthage thing stopping it from working for you. Thought the project was already iOS8. Fixed and merged.

[2016-03-23 09:57] #24 closed

[2016-03-24 01:28] Shun-Nakahara commented on #24
Thank you ! :)

[2016-03-31 13:41] ElliottFrench opened #30 "Revise ValidationPattern enum to handle Associated Values"
Hi Adam,

My team and I recently added a postcode validation pattern to Validator and have encountered the following issue when a validation pattern has a number of options. For example, UK postcodes can be provided lowercase, uppercase, with a space or without a space. Currently, we could provide a separate enum `case` for each according to the validation required, however, this quickly becomes u

[2016-03-31 14:09] adamwaite commented on #30
Hi Elliot, thanks for your contributions so far, great work! :dancer:

I understand your point, it is indeed starting to get a little unwieldy.

I think a more flexible implementation might be to drop the `ValidationPattern enum` in favour of a protocol: `ValidationPattern`.

[code]

Which can be used like this:

[code]

That way we can capture much more logic, and have users define their own patt

[2016-04-05 10:15] ffittschen commented on #17
How about using the `NSNotificationCenter`?

[code]

I'm just not sure how to remove the observers if the `UITextView`s are getting deinitialized...

[2016-04-07 16:26] adamwaite commented on #17
@ffittschen Great idea. Had totally forgotten you could do that. When I need this functionality I'll build it in - if someone needs it in the meantime, feel free to give it a shot and submit a PR. As for observers, perhaps we could have a separate type that can never die that holds the actions and serves as the observer?

[2016-04-11 12:20] kiwo12345 opened #31 "check if specific field failed validation"
Is there any way to check if a specific field has failed the validation?
I have a UIView under each textfield, and I want to color the UIView red under the textfield that fails validation.

And big thanks for sharing this lib!

[2016-04-11 12:24] adamwaite commented on #31
textfield.superview?.backgroundColor = UIColor.redColor() perhaps?

[2016-04-11 12:27] adamwaite commented on #31
I'm closing this because it's kind of more related to your app than the lib.

[2016-04-11 12:27] #31 closed

[2016-04-11 12:31] kiwo12345 commented on #31
@adamwaite
I explained myself bad, under each textfield I have a UIView styled as a line, in order to have a "bottom border" for each textfield. So now I need to check if a specific textfield failed validation.

So is there anyway to check if "textFieldOne" has failed the validation?

[2016-04-11 12:32] adamwaite commented on #31
You read the README?

[2016-04-12 21:07] pbassut opened #32 "Empty Validation Rule"
I guess such a validation rule is pretty common.
Although this could be as simple as ```ValidationRuleLength(min: 1, failureError: error)``` having a shortcut method for it would be awesome.
Useful and fast enhancement

[2016-04-12 21:12] adamwaite commented on #32
Check out `ValidationRuleRequired`

https://github.com/adamwaite/Validator/blob/master/Validator/Validator/Rules/ValidationRuleRequired.swift

See the readme for usage.

Ty

[2016-04-12 21:42] pbassut commented on #32
I've tried that. And no, it doesn't solve my problem because when using UITextFields, they always have at least an empty string.
That validator checks against ```nil```. Thus, it will always be valid.

[2016-04-12 21:47] adamwaite commented on #32
Extend the library as you like. Maybe:

[code]

I think creating this sort of convenience method litters the convention so i don't really want to put it in.

[2016-04-12 21:47] #32 closed

[2016-04-12 21:52] pbassut commented on #32
Yea, I already did that.
My main point was that if it's a drop-in validation library, it should cover a fair amount of use cases.

But cool, sure.

[2016-04-14 13:37] tomaskraina opened #33 "Validate on input change blows up for UITextField subclasses"
Validate on input change blows up for UITextField subclasses [on this line](https://github.com/adamwaite/Validator/blob/1055fbb99075d799bb99813653436df6625f327b/Validator/Validator/UIKit%2BValidator/ValidatableInterfaceElement.swift#L74) with the following message:

[code]

I came up with a workaround by overriding methods and properties declared by `ValidatableInterfaceElement` in my `MyTextField

[2016-04-18 14:12] zjTek commented on #33
i met this error too

[2016-04-20 12:23] txaiwieser opened #34 "Validator Fields with Mask"
Is it possible to have a Validator field with a regex mask? like "xxx-xxx-xxxx"
I want it automatically adds the extra characters. If the user inputs "1234567890" it shows "123-456-7890"

[2016-04-29 23:19] guveniscan commented on #33
i have the same issue, thanks for the workaround @tomaskraina

[2016-05-02 08:13] balazsgerlei opened #35 "Swift 3 deprecations fix in release"
Hi!
The currently released version still has deprecation warnings in it because of things like associatedtype and new selector syntax. I've seen that there is a commit in master that fixes it, but I would like to ask when will it be available via a release? It is not too good to point to the master branch in a production code.

Thank you!

[2016-05-03 09:18] adamwaite commented on #35
Thanks, Released 1.1.2 on CocoaPods.

[2016-05-03 09:18] #35 closed

[2016-05-03 09:21] balazsgerlei commented on #35
Nice, thank you!

[2016-05-04 08:33] adamwaite commented on #33
Seems a few are seeing this so will look into it when I get chance

[2016-05-04 19:10] adamkuipers opened #36 "Email regex too strict"
The regex requires a TLD, which isn't required in the email address spec[0]. There's been a lot written[1] about email regex that's too strict and I tend to agree that it's better to have false positives than false negatives, especially with a default validator. The regex actually fails a lot of valid email addresses (although most will likely rarely appear).

Here's a list[2] of valid email addre

[2016-05-26 20:18] animeshp commented on #33
I also faced this issue. Using @tomaskraina's solution for workaround.

[2016-06-09 17:10] slxl commented on #33
for me even workaround didnt work. MyCustomTextField inherits from _AnotherCustomTextField_ located in another module (_ACTF_ is from CocoaPods)

[2016-06-10 17:45] Appsido commented on #33
Same here if we try to use validator on UITextField subclass it do not work. Any workaround so far ?

[2016-06-25 08:48] jedmund commented on #33
Also using @tomaskraina's workaround. Definitely should be fixed in the actual repo.

[2016-06-26 19:22] adamwaite commented on #33
I'm ridiculously busy of late. The pull request button is there for anyone that wants to fix it.

[2016-06-27 07:13] dillidon commented on #17
I need it) please, add it)

[2016-06-30 08:42] slhodson969 commented on #36
You also don't seem to be able to validate emails that use special characters e.g. scøtt@êxample.com

[2016-07-11 07:16] dillidon opened #39 "Mobile regex"
Could you add good regex pattern for international mobile as well as UIextField, which automatically format phone humber (like PhoneNumberKit)?

[2016-08-19 15:34] StuartMorris0 opened #40 "Correct way to validate on submit"
Hello,

It appears that all validation is completed inline. Is there a way to double confirm validation on submit of a form for example.

I want to either check the current validation status or revalid against the same rule again to confirm. Otherwise when a submit button is pressed there might be multiple rows still in a bad state.

Thanks

[2016-08-28 14:14] jedmund opened #41 "Swift 3.0 Support"
Hello,

I've been working on a [Swift 3.0 update](https://github.com/jedmund/Validator/tree/jedmund-swift-3) but have run into a gnarly crash I don't know how to fix. If anyone else wants to pick it up from here and fix it, or point me in the right direction, I'd greatly appreciate it!

I think I've tracked down the issue to `objc_getAssociatedObject` receiving an object that can't be turned into

[2016-08-30 10:38] adamwaite commented on #40
You can validate directly.

[code]

Should be pretty clear in the read me.

Thanks

[2016-08-30 10:38] #40 closed

[2016-08-31 14:48] #33 closed

[2016-08-31 15:00] adamwaite commented on #34
Check out `ValidationRulePattern.swift`

[2016-08-31 15:00] #34 closed

[2016-08-31 15:00] adamwaite commented on #36
Will get to this with https://github.com/adamwaite/Validator/issues/30.

[2016-08-31 15:01] adamwaite commented on #39
I'll get to this with https://github.com/adamwaite/Validator/issues/30 as soon as I can.

[2016-08-31 15:03] adamwaite commented on #33
Sorted. validationHandler now takes the form `ValidationResult -> ()` rather than `ValidationResult, Self -> ()` because it was impossible to cast in the `Box` unwrapping in the getter of the associated object validation handler closure as far as I could tell. It's a breaking change but easy to handle.

[2016-08-31 15:46] jedmund commented on #41
Closed pending #42

[2016-08-31 15:46] #41 closed

[2016-08-31 17:34] jedmund opened #43 "Should validate() have @discardableResult in Swift 3.0?"
I'm getting a lot of `Result of call to 'validate()' is unused` warnings.

This could just be how I've implemented Validator in my app, but if not, we should add `@discardableResult` to the validate function to silence these warnings. I'm happy to make the changes if others think this is the right way to go.

[2016-09-01 16:43] adamwaite commented on #43
Ahhhh, hadn't event seen `@discardableResult`. I'll implement this and let you know to double check what you think. Currently merging everything into the swift-3 branch from yours.

[2016-09-01 16:58] adamwaite commented on #43
That's it, **thanks** for all of your hard work.

Everything's good to go on the https://github.com/adamwaite/Validator/tree/swift-3 branch.

Really saved me a massive job! 🍺

[2016-09-01 16:58] #43 closed

[2016-09-01 17:02] adamwaite commented on #43
You're the first member in the new thanks section of the README, and in a note at the top of the master branch.

[2016-09-01 17:53] StuartMorris0 opened #44 "Numbers only"
Is there a way to make a validation rule for numbers only? I see contains digits, but looking to have a textfield that can only accept numbers.

Thanks

[2016-09-01 20:06] jedmund commented on #43
Thanks a bunch! Really appreciate it. I'll try to keep helping out where I can.

[2016-09-22 08:31] adamwaite commented on #36
If anyone could provide an updated regex I'll be happy to implement it. I don't know enough about it to do it myself.

[2016-09-29 02:21] adamkuipers commented on #36
Here's the regex implementation from the spec cited above,

[code]

[2016-09-30 06:39] sneps85 opened #49 "ValidationRuleSet not working with Required rule"
when i have a validationrulest<string> and add a required rule<string> and others (e.g. email), then only email is validated, the required rule is ignored.

i think it is because string cannot be nil... why dont you check for empty string if type is string in the required rule?

[2016-10-03 16:08] racer1988 commented on #36
@adamkuipers your rule is very complete but does not work for special chars like the one @slhodson969 highlighted

this is a very blatant email validator

    ^.+@.+\\..+$

Remember that is better to check email on server side and not block the user on UI side.

If we put a wrong validator, users with valid emails will be unable to register in your app and not being very happy about it

[2016-10-03 18:31] adamkuipers commented on #36
Yeah, I agree that the simpler one is better.

[2016-10-05 02:35] maarek opened #50 "ValidationErrorType Priority"
What is the best way to handle Error priority so that when multiple rules are hit, we can easily identify the priority of the rules? The point of validation does not know priority of the validation in a ValidationRuleSet.

[2016-10-05 03:05] maarek opened #51 "ValidationRuleSet.init(rules: [AnyValidationRule])"
With the use of Self in the ValidationRuleSet struct, we cannot mix rules in the current inits when one rule has an associated type and others do not. Should there be an init method so we can pass in the type erasure form of the rule and open up the possibly of passing [AnyValidationRule] instead of having to .add() for each and every rule?

[2016-10-05 09:29] adamwaite commented on #51
Will look into this tonight

[2016-10-05 21:10] maarek opened #53 "ValidationRuleLength on Nil"
This rule will always trigger when String? is nil. If the string is nil and min >= 0 then this should probably treat the nil string as an empty string.

[2016-10-06 14:23] cody1024d commented on #49
I think this mainly occurs when the textfield validates itself.  When it triggers the ValidationRuleRequired, the text that is passed in is actually an empty string.

[2016-10-18 13:11] racer1988 opened #55 "No Documentation for any method"
Hello!

I just started using this framework, which is very cool and flexible 👍

I wanted to raise a point.
There is no documentation on any method/class in this project.

This is very cumbersome because it forces me (or any new user) to read the entire source code to understand why there is a specific parameter, or what are the other methods that are not documented in the README etc..

For example

[2016-10-18 15:50] racer1988 opened #56 "Protocol 'ValidatableInterfaceElement' can only be used as a generic constraint because it has Self or associated type requirements"
Protocol 'ValidatableInterfaceElement' can only be used as a generic constraint because it has Self or associated type requirements.

So I cannot check if a element is a ValidatableInterfaceElement and has a validate method on it?

[2016-10-19 16:29] racer1988 commented on #30
Yes, +1 for this.

I need to define my company internal patterns and I have to create a separate ValidationRulePattern for each.

While doing a enum for the format would be better

[2016-10-21 02:31] AdventuresOfMar opened #57 "Require Function"
Hello All,

I have a really quick question, is there an example for using the require function? I've tried implementing and once I use

 let stringRequiredRule = ValidationRuleRequired<String?>(failureError: ValidationError(message: "😫"))

 stringCell.validationRuleSet?.add(rule: stringRequiredRule)

I get the following error
Generic parameter 'R' could not be inferred

[2016-10-21 03:34] maarek commented on #57
Validations here are sometimes type specific using associated types. See the following on how to fix your issue.

[code]

[2016-10-26 08:24] iHunterX commented on #57
This not working, i cant apply the required rule for the textfield
it wont show the error of required rule

[2016-10-28 16:04] adamwaite commented on #56
Are you trying to enumerate over a collection of `ValidatableInterfaceElement`s? You can't yet store an array of types conforming to a protocol if they have associated type requirements (in this case, the validated type). To do this we'd need to erase the type using something like what I have done for `ValidationRule` and `AnyValidationRule`. I'll have a look if this is worth implementing.

[2016-10-28 16:05] adamwaite commented on #57
Can you be more specific?

[2016-10-28 16:06] adamwaite commented on #55
Hey, thanks for the feedback, I'll be looking to add some documentation soon!

[2016-10-28 16:07] adamwaite commented on #53
Thanks! Will sort this soon

[2016-10-28 16:08] adamwaite commented on #51
By 'tonight' I meant someday

[2016-10-28 16:10] iHunterX commented on #57
self.validationRuleSetUserName?.add(rule: ValidationRuleRequired<String>(failureError: ValidationError(message: "😫")))

I used this but it wont show message when im not adding text and validate the textfield, thanks for you help

[2016-10-28 18:36] racer1988 commented on #56
Thanks,

yea, after posting the issue I started reading about Type Erasure.
Which is pretty messy ehehe 😮

I don't know if it is important for this framework, but let's say I use a array to keep track of all my Form Elements in a controller.
When a Submit is done, I want to be able to disable all the elements, textfields, buttons etc.. in order to avoid any further user interaction and validate th

[2016-10-28 18:37] racer1988 commented on #55
I am quite busy in this period so I had not have the time to contribute.
Just opened the issue to explain what I think would be a valuable improvement to the use of the framework ;)

[2016-10-30 13:34] adamwaite commented on #55
It's all documented now. Example: https://github.com/adamwaite/Validator/blob/master/Validator/Validator/Validatable.swift

[2016-10-30 13:34] #55 closed

[2016-10-31 17:20] adamwaite commented on #17
UITextView is now a ValidatableInterfaceElement 🎉🎃

[2016-10-31 17:20] #17 closed

[2016-10-31 18:10] adamwaite commented on #30
Implemented in https://github.com/adamwaite/Validator/commit/c9f7b2ca4b0d8fb7f7950db28b75e62503546829

See https://github.com/adamwaite/Validator/blob/master/Validator/Validator/ValidationPattern.swift

[2016-10-31 18:10] #30 closed

[2016-10-31 18:11] adamwaite commented on #36
https://github.com/adamwaite/Validator/blob/master/Validator/Validator/EmailValidationPattern.swift

[2016-10-31 18:11] #36 closed

[2016-10-31 18:16] adamwaite commented on #57
Ah ok. I got you. It's because UITextField returns a blank string to validate, which is non-nil. You should use a ValidationRuleLength and make sure it's above 0

[2016-10-31 18:16] #57 closed

[2016-10-31 18:17] adamwaite commented on #49
That's it Cody. This is perhaps poor implementation on my part. Will look out if any more people trip up on this and reconsider if yes.

[2016-10-31 18:17] #49 closed

[2016-10-31 18:21] adamwaite commented on #53
Hang on, sorry I'm not sure I understand you.

Should handle nil as being invalid anyway.
[code]

[2016-10-31 19:14] cody1024d commented on #49
@adamwaite In the interim, I've gotten around it with using a length validation rule (if anyone else asks this same question and needs a work-around).  Also, perhaps so you don't break backwards compatibility, you could just add a flag to the constructor, or something, a bit hacky, but at least it would be a bit of a "safer" change then.

[2016-11-01 16:21] adamwaite commented on #56
Ah ok. Yeah I don't think I'd want to expose any type-erased types to the consumer of the API to keep things easy. `AnyValidationRule` is meant to be hidden away from people and just used behind the scenes. I think the user should do the type erasure in this case. Thanks for the input!

[2016-11-01 16:21] #56 closed

[2016-11-01 16:24] adamwaite commented on #51
This is as far as I think we need to take this one. https://github.com/adamwaite/Validator/pull/37/commits/5e003d0c3ab78b7a606dc31805188e72836fd8bc

[2016-11-01 16:24] #51 closed

[2016-11-02 04:24] hallelujahbaby opened #58 "Carthage Support"
Hi there,

may anyone have knowledge to add Carthage support for this great library ?

It would be great since Carthage become popular nowadays.

Thanks.

[2016-11-02 10:01] racer1988 commented on #36
@adamwaite A quick information: What is your plan to release a new version (for carthage ;) )
with these PR merged?
Thanks

[2016-11-02 10:02] #58 closed

[2016-11-02 10:03] adamwaite commented on #58
`github "adamwaite/Validator"`

[2016-11-02 10:11] adamwaite commented on #36
Right now 🎉

Version `2.1.0` ready to roll.

<img width="754" alt="screen shot 2016-11-02 at 10 10 55" src="https://cloud.githubusercontent.com/assets/1426233/19924640/b7d9f682-a0e4-11e6-9322-c98c3833d238.png">

[2016-11-02 14:54] racer1988 commented on #50
In my tests, the validation rules in a set are triggered in the order you added them.
So add the rules with more priority first to your set.

can you try and see if that works?

[2016-11-02 14:55] racer1988 commented on #44
You can make your own validationRulePattern with a regex

    [0-9]*

that should be good for you

[2016-11-02 14:57] racer1988 opened #61 "Api misalignement"
Shall the API align to both say enabled?
This was changed in https://github.com/adamwaite/Validator/blob/47d675b9a864f6aff91c3c45e3256147896d0556/Validator/Validator/UIKit%2BValidator/UITextField%2BValidator.swift

    open func validateOnInputChange(enabled: Bool) {
    open func validateOnEditingEnd(validationEnabled: Bool) {

[2016-11-02 14:58] adamwaite commented on #61
Ah yeah. I need to change.

[2016-11-02 15:06] racer1988 commented on #61
problem with those API changes is that they are non backward compatible.
I had to change my code to keep it working, so maybe it would be best to sum up all those API changes together and then do a major version release

[2016-11-04 00:48] AdventuresOfMar opened #62 "ValidationDateRangeRule"
Greetings again, one final question, I noticed that in the pull requests there use to exist a Date Range validation rule. Was this ever merged into the main library?

[2016-11-04 09:59] adamwaite commented on #62
Since `Date` is actually a `Comparable` type in Swift, we can use `ValidationRuleComparison<Date>`. Hope that helps you!

[2016-11-04 09:59] #62 closed

[2016-11-04 10:10] adamwaite commented on #61
Fixed

[2016-11-04 10:10] #61 closed

[2016-11-04 10:14] adamwaite commented on #62
Added note in README

[2016-11-05 17:20] AdventuresOfMar commented on #62
HI @adamwaite, thanks so much for the update!
I''m still a bit confused, I took a look at your example and tried implementing your logic as follows;
 let pickerCell = tableView.dequeueReusableCell(withIdentifier: "pickerCell", for: indexPath as IndexPath) as! PickerCell

            cell = pickerCell
            pickerCell.validationRuleSet = ValidationRuleSet<String>()
            let eighteenYea

[2016-11-06 23:23] adamwaite commented on #62
You're trouble here is that you're using a `ValidationRuleSet<String>` to validate a `Date`. You'll need a `ValidationRuleSet<Date>` to validate a `Date` type. Hope that helps?

[2016-11-21 15:03] piv199 commented on #53
@adamwaite nil should be handled as 0

[2016-11-21 15:10] piv199 opened #63 "Init RuleSet with multiple rules"
[code]

I'm trying to create a rule set for UITextField, but it says that `Cannot convert value of type '[Any]' to expected argument type '[_]'`. What's wrong?

[2016-11-22 00:16] vandanakanwar opened #64 "Need to remove Rule"
@adamwaite
As we have addRule api for adding rule to input values.For same can we have removeRule API?

[2016-11-22 10:01] adamwaite commented on #64
Yeah will look into that next time I work on it

[2016-11-26 17:35] maguro opened #65 "Why differentiate between ValidationRule and ValidationRuleSet?"
This is an **_awesome_** project.  A real treasure trove of Swift patterns for us newbies.  I feel odd filing an issue for a general question.  Maybe it would be a good idea to start up a Google Group, or something of that ilk?

Why differentiate between `ValidationRule` and `ValidationRuleSet`?  I would have thought that `ValidationRuleSet` would inherit from `ValidationRule`.  I'm sure that I'm

[2016-11-26 17:38] maguro opened #66 "Need different validators for .editingChanged and .editingDidEnd"
It seems that I can only register one validator.  Is the thinking that I register my own custom target/action if I need such customization?

[2016-11-26 17:44] maguro opened #67 "Sent Events section disappeared from Connections Inspector/Menu"
When I add **Validator** to my project, the "Sent Events" section disappears from my Storyboard's Connections Inspector/Menu.  I'm a bit of a GUI weenie so I was alarmed at first.  I know that I can hand code Target/Action connections, so I calmed down after a while.  But still, I'd still like to mix both Validator and Storyboard managed Target/Action connections.

Is that possible?

Why did the t

[2016-11-26 21:29] adamwaite commented on #67
Hey there. Validator shouldn't affect this. Are you sure you added `@IBAction` to the `func` declaration?

[2016-11-26 21:29] #67 closed

[2016-11-26 21:33] adamwaite commented on #65
Hi. Glad you like the library. I actually wrote it when I was learning how to write in Swift too. A general question in GitHub is fine.

So the difference between `ValidationRule` and `ValidationRuleSet` is that the set version is a collection of `ValidationRule`s. You get me? So a `ValidationRuleSet` is just a container to store multiple `ValidationRule`s. e.g. an email address field might be req

[2016-11-26 21:33] #65 closed

[2016-11-26 21:34] adamwaite commented on #66
Oh I'd never thought of that use case! It's not something I want to build into the library right now. I recommend creating your own target actions, yes.

[2016-11-26 21:34] #66 closed

[2016-11-26 22:23] maguro commented on #67
This is before an `@IBAction` is added to a `func` declaration.

## before:
<img width="1440" alt="screen shot before" src="https://cloud.githubusercontent.com/assets/165060/20644266/c0bab9be-b3e3-11e6-937a-6d589845dc86.png">

## after
<img width="1440" alt="screen shot after" src="https://cloud.githubusercontent.com/assets/165060/20644267/c1e4b556-b3e3-11e6-8f9f-8b191a8d9e8d.png">

[2016-11-26 22:45] maguro commented on #65
Yes, I think I understand that `ValidationRuleSet` is a set of `ValidationRule`s, but why not have `ValidationRuleSet` implement `ValidationRule`?

All the `UITextField` instance cares about is if it's valid or not.   From the perspective of a `UITextField`, it shouldn't care if the validator is a set or a single rule; such information seems like an implementation leak.

[2016-11-26 22:52] maguro commented on #66
No worries.  May I ask why it's not something you want to build into the library right now?  Would you mind if I submitted a PR?

Performing validation at the _end_ of editing is quite common, e.g. ensuring a user name is unique.

[2016-11-27 11:10] adamwaite commented on #65
The main reason is that we want multiple errors should multiple rules fail.

[2016-11-27 11:11] adamwaite commented on #66
Please feel free

[2016-11-27 21:44] maguro commented on #65
Why not have `ValidationRules.validate` return a set?  Then integrations won't need to handle two code paths.

[2016-11-28 01:04] maguro commented on #65
Here's an example of where things seem to be a bit asymmetric.  In `ValidatableInterfaceElement`
[code]

[2016-11-28 10:06] adamwaite commented on #65
Feel free to create a pull request with your improvements. Thanks.

[2016-12-04 10:03] piv199 opened #68 "FatalError when no attached rules"
Is this a really good behaviour?

I have an array of text fields for UIViewController and I iterate over all and run `validate()` and merging the result of the validation... But if there is no attached rules fatal error is thrown...

Personally, I would suggest returning `.valid` if there is no rules attached to `ValidatableInterfaceElement` instead of throwing fatal error. What do you think guys?

[2016-12-04 10:05] adamwaite commented on #68
Perhaps. I think at the time of writing I considered it a programmer error to validate a field that hasn't any attached validators. You're probably right, `.valid` is probably a better bet. Perhaps a print message in `DEBUG` mode?

[2016-12-04 10:06] piv199 commented on #67
@adamwaite Hi, yes, this is an error caused by extending any native Apple element.

This is caused by `extension UITextField: ValidatableInterfaceElement`. But this is really a bug from Apple!

[Apple forum link](https://forums.developer.apple.com/message/84535#84535)

[2016-12-04 10:32] #68 closed

[2016-12-10 18:30] DzonyKalafut opened #70 "Example for Required rule is not correct"
In README you have

[code]

If you specify you rule type as optional, you will get double optionals inside validate method and it will always evaluate input as valid, making the rule useless. (Input to validate method is already specified as Optional of generic type, so for String? type you will then get String?? inside the method)

[2016-12-16 23:42] RogerBCA commented on #70
Export this file to your project and should work

https://github.com/adamwaite/Validator/blob/master/Example/Example/ValidationErrorType.swift

[2016-12-18 10:31] dillidon opened #71 "FIX in enum ValidationResult:"
instead of "case invalid([Error])" should be "case invalid([ValidationError])"

[2016-12-29 16:52] adamwaite commented on #71
The latest version of Validator has deprecated the `ValidationError` in favour of any 'Error` type that the user wants to use. I should perhaps start a changelog or something since the library is starting to become more popular.

[2016-12-29 16:52] #71 closed

[2017-02-23 00:59] vandanakanwar opened #74 "Crashing when validationRules = nil"
Hi @adamwaite,
public func validate() -> ValidationResult {
        guard let attachedRules = validationRules else { fatalError("Validator Error: attempted to validate without attaching rules") }
        return validate(rules: attachedRules)
    }
as ValidationResult is return type and its not optional so when  validationRules is coming nil then guard statement doesn't working properly because not

[2017-03-17 06:57] gbmksquare commented on #63
+1
How do I create a `ValidationRuleSet` with both `ValidationRule` and `ValidationPattern`?

[2017-04-21 07:55] antonioreyna commented on #63
any solution on this? thanks

[2017-05-08 06:20] vandanakanwar opened #75 "How to use custom rule in swift 3.0"
Hi @adamwaite ,
I am using Validator in my project.
Can you please help me in using custom rule in swift 3.0
Please check below code:

[code]

But when I use this rule in my class like
[code]
It is giving me error argument type 'WhitespaceRule' does not conform to expected type 'ValidationRule'

}

[2017-05-08 06:40] #74 closed

[2017-05-15 14:24] adamwaite commented on #75
You should make `WhitespaceRule` conform to `ValidationRule`, like this:

`internal struct WhitespaceRule: ValidationRule {`

[2017-05-15 14:24] #75 closed

[2017-05-18 13:15] swieer commented on #63
any solution on this? thanks

[2017-07-03 14:53] croossin commented on #75
I am seeing an issue where I am conforming to `ValidationRule`, yet it still throws an error saying that the custom rule does not conform to expected type....

[code]

Any help is appreciated!

[2017-07-21 07:47] vsujan92 opened #76 "No error for full name"
I entered 'a    dddd' and there seems no error.

[2017-07-21 08:35] linbx08 commented on #76
`Because the type of error is Error , not the early version `

[2017-07-24 04:09] vsujan commented on #76
Actually there is more than a single space between first and second word. thats an error right?

[2017-07-24 06:22] linbx08 commented on #76
well. That was my fault

[2017-07-27 13:41] #76 closed

[2017-09-07 07:47] linbx08 opened #77 "Validator support for Swift 4 with RxSwift ?"
hi, validator will upgrade the code to swift4?

[2017-09-13 20:08] cyborgthefirst opened #78 "Retain Cycles"
First of all: Great job on this project! I love using it!

I was wondering if it is intentional that validationRuleSets and validationHandler are strongly referenced and that they cannot be set to nil. I'm trying to get my code as efficient as possible and this prevents ViewController from being deinitialized.

Thanks in advance

[2017-09-15 20:45] adamwaite commented on #50
That's right, the rules are evaluated in the order added. Cheers.

[2017-09-15 20:45] #50 closed

[2017-09-15 22:08] adamwaite commented on #77
Hi, yep please check the swift4 branch :) https://github.com/adamwaite/Validator/tree/swift4

[2017-09-15 22:08] #77 closed

[2017-09-15 22:09] adamwaite commented on #64
I've decided against implementing this as I can't see a use case for it. If you wanted it badly enough you can just add some extensions.

[2017-09-15 22:09] #64 closed

[2017-09-15 22:20] adamwaite commented on #63
Hey, you can do it like this:

[code]

[2017-09-15 22:20] #63 closed

[2017-09-15 22:28] adamwaite commented on #78
Oops! No that definitely isn't intentional. Do you mind sharing your example so I can attempt to fix it?

[2017-09-15 22:28] #70 closed

[2017-09-15 22:30] adamwaite commented on #39
https://github.com/adamwaite/Validator/issues/30 makes it easy to create your own. Closing this since it's so old and nobody else is asking for it. If there's a higher demand I'll re-open.

[2017-09-15 22:30] #39 closed

[2017-09-15 22:32] adamwaite commented on #44
Thanks @racer1988.

You can also do something like this:

[code]

[2017-09-15 22:32] #44 closed

[2017-09-15 22:33] #53 closed

[2017-09-28 20:49] piv199 opened #81 "ValidationRulePattern NSPredicate"
[code]

But internally it uses

[code]

which is actually not the same with NSRegularExpression. NSPredicate mathches doesn't recognizes many patterns which NSRegularExpression does.

[2017-09-28 21:05] #81 closed

[2017-10-09 11:08] kiokumicu commented on #75
@croossin
Got the same error (
Any solution ?

[2017-10-09 15:11] croossin commented on #75
@kiokumicu Haven't checked recently... but when I was using it I was unable to find a solution unfortunately.

[2017-10-09 20:49] adamwaite commented on #75
Hi @kiokumicu and @croossin.

I tried with this:

[code]

And it compiles fine.

Are you using the latest version?

[2017-10-10 07:27] kiokumicu commented on #75
Hi @adamwaite
I'm using 2.1.1 version.
I have error when I'n trying use this rule

[code]
`Cannot invoke 'validate' with an argument list of type '(input: String, rule: AgeRule.Type)'`

[2017-10-12 09:50] cyborgthefirst commented on #78
Sorry that my response took so long, but I had to fix some more important stuff first.
I will try to get an example ready by next week so that you can take a look at it.
Thank you for your patience!

[2017-10-12 10:01] adamwaite commented on #78
That's cool! I've actually been thinking to remove all that Obj-C runtime madness. Not sure what I was thinking when I wrote that originally.

[2017-10-23 19:52] jordancamara opened #82 "Forms"
Is there a concept of validation forms for this library? An example would be a set of String and Int fields that get validated all at once?

[2017-10-24 12:40] adamwaite commented on #82
Nice idea. That hasn't been implemented. Feel free to give it a shot! I'd love to see an implementation.

[2017-11-03 07:01] v2Nitesh opened #83 "Facing build fail on validator : *** Building scheme "Validator" in Validator.xcworkspace ** CLEAN FAILED **"
Hi,

I am facing below error while using this validator. Please refer below log:

*** Building scheme "Validator" in Validator.xcworkspace
** CLEAN FAILED **

Carthage/Checkouts/Validator/Validator.xcworkspace -scheme Validator -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES clean build) failed with

[2017-11-30 14:45] #83 closed

[2018-02-08 06:19] dfischbach opened #87 "Submit new cocoapods version with warnings fixed"
Could you please publish a new cocoapods version 3.0.1 with your latest fix, which removes the warnings for .characters? The 3.0.0 version has the warnings in. Actually a git reference to master is needed  to get rid of the warnings.

[2018-02-14 17:57] adamwaite commented on #87
<img width="1090" alt="screen shot 2018-02-14 at 17 56 50" src="https://user-images.githubusercontent.com/1426233/36219804-778c15f4-11b0-11e8-8d44-3f558f6d2ad2.png">

Job done.

[2018-02-14 17:57] #87 closed

[2018-02-19 16:08] jlstr opened #88 "Validator Error: attempted to validate without attaching rules"
I can't get a basic example to work
[code]

As soon as I start typing in the TextField I'm getting: **"Validator Error: attempted to validate without attaching rules**", but as you can see I am indeed setting the rule

What am I doing wrong?
-Thank you!

[2018-02-19 16:12] adamwaite commented on #88
Hey jlstr. Your validationRules are in fact nil when you do `textField2.validationRules?.add(blah)`

The following should work:

[code]

[2018-02-19 16:12] #88 closed

[2018-02-19 16:20] jlstr commented on #88
Perfect! Thank you.

It'd help to have an example as simple as mine in the Docs. Once again, Thank you and great work!

-Cheers!

[2018-02-19 17:49] jlstr opened #89 "How to validate Textfield value is equal to another Textfield's value?"
Hello adam!

May I ask real quickly here, what's the simplest way to Perform the classic Validation of one field's value being equal to another field's value? This, in order to implement the classic "Confirm Password" functionality.

Is this easily done with you Library?
Thanks in advance!

[2018-03-01 08:22] kareemDev opened #90 "Issue in Email Validation"
Issue in email validation, I've "intered skskkd@ssldd..." , if it's more than 1 dot, it's passing the validation.

Thanks for the amazing pod.

![simulator screen shot - iphone 8 plus - 2018-03-01 at 11 20 56](https://user-images.githubusercontent.com/30798464/36834055-9ebaeb80-1d42-11e8-826a-4aebf518467a.png)

[2018-03-12 15:28] adamwaite commented on #89
Have a look at the dynamic rule in the README

[2018-03-12 15:28] #89 closed

[2018-03-12 15:31] jlstr commented on #89
Thanks Adam, I was able to figure it out some time ago, should have closed this one myself. Thank you once more

[2018-03-17 13:10] mrh-is opened #91 "Build failure in Xcode 9b4"
Three UIKit classes are reported as not conforming to `ValidatableInterfaceElement`:

[code]

[code]

[code]

Happens on both Swift 3.3 and 4.1. I think this worked on 9b2, but not on 9b3 or 9b4.

[2018-03-20 14:36] adamwaite opened #92 "Validation result error type monoid?"
Can apply lots of new functional concepts learned.

[2018-03-30 03:13] tuan188 commented on #91
It happens on Xcode 9.3 (9E145), Swift 4.1 too.

[2018-03-30 06:29] konkontos commented on #91
Don't have enough time to explore / follow the full logic of the codebase, but removing the protocol stub and default implementation of:

`public func validate<R: ValidationRule>(rule r: R) -> ValidationResult where R.InputType == InputType`

from `ValidatableInterfaceElement.swift`

seems to solve the issue.

In the App I'm working on, eliminating this method causes no problems.

[2018-03-30 06:56] rockyftn opened #93 "Swift 4.1 issue"
I have a problem with building last version of library with last SDK 11.3. The issue is following:
UISlider+Validator doesn't confirm to protocol function ValidateabeInterfaceElement, also same issue is for UITextField and UITextView

[2018-03-30 14:46] senthilhisto commented on #93
I am also facing the same issue with latest XCode 9.3

[2018-03-31 16:11] piv199 commented on #93
@adamwaite do you have any suggestions on this problem?

[2018-03-31 21:58] nderkach commented on #93
Not sure, what exactly is the cause of it (the protocol has a default implementation), but here is a temporary workaround: https://github.com/nderkach/Validator/commit/61d24d3618535e21b0f9166fdd862f30acc3644b

[2018-03-31 22:35] adamwaite commented on #93
Hi guys. I’m travelling Asia with little to no internet. If you could use @nderkach’s solution for now? Maybe make a PR? Thanks

[2018-04-01 07:48] Lopdo commented on #93
I created PR (https://github.com/adamwaite/Validator/pull/94) based on @nderkach code (shameless copy&paste). It is quick and imho dirty fix. As far as I understand, this isn't how this issue should be resolved, but I was unable to wrap my head around issue sufficiently to come up with proper fix.
This should work for now, but I am not sure how robust it is.

For other people having same issue (wh

[2018-04-02 12:48] Faari7 opened #95 "Can we validate UILabels?"

[2018-04-02 12:51] #95 closed

[2018-04-02 18:17] PaulScala commented on #91
Thank you @konkontos this fix worked for me too!

I was getting the same error as @mrh-is in Xcode 9.3.

[2018-04-02 19:47] mrh-is commented on #91
#93 is an identical bug with more chatter, so I'll close this in favor of that one.

[2018-04-02 19:47] #91 closed

[2018-04-04 08:08] ARGAMX commented on #93
facing the same issue with latest XCode 9.3

[2018-04-05 15:03] kiokumicu commented on #93
Got error on Carthage install

`Validator.xcworkspace -scheme Validator -configuration Release -derivedDataPath /Users/kiokumicu/Library/Caches/org.carthage.CarthageKit/DerivedData/9.3_9E145/Validator/v3.0.1 -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES archive -archivePath /var/folders/yz/gbww569n12xf3gxg_yvfr86m0000gn/

[2018-04-09 09:26] eligat commented on #93
Probably relates to [this](https://bugs.swift.org/browse/SR-6650)

[2018-04-09 09:46] adamwaite commented on #93
Hi. I'm back in the UK and will be looking at solving this issue as soon as possible (this evening if I get chance). Thanks for your patience!

[2018-04-09 09:48] Lopdo commented on #93
Don't worry too much, we have workarounds :) Hope you enjoyed your vacation. I just want to mention once more that my PR is not correct solution, just a quick hack to get it working. I wasn't able to figure out proper fix in time I could devote to it, sorry.

[2018-04-09 20:46] adamwaite commented on #93
Fixed in 3.0.2

https://github.com/adamwaite/Validator/commit/8c39339af8745853f142f56203f05689835d2816.

I'm not completely happy with the solution, but I couldn't figure any other way without having to explicitly implement in all adopting UI element types.

[2018-04-09 20:46] #93 closed

[2018-04-10 12:26] andreybashta opened #96 "UISlider, UITextField, UITextFView does not conform to protocol 'ValidatableInterfaceElement'"
Hi, Adam!

Today I installed Validator, and got three errors:
![image](https://user-images.githubusercontent.com/1914602/38556776-819a928e-3cd3-11e8-8c53-4e1eca887af6.png)

My Xcode version: 9.3
Swift: 4.1

[2018-04-10 12:30] #96 closed

[2018-04-12 18:05] Nathan187 opened #97 "poor example"
trying to figure out how this works.  not every app uses table views.  a better example would have been nice

[2018-04-12 18:09] adamwaite commented on #97
Thanks for the feedback. Please feel free to make a pull request with a better example.

[2018-04-12 18:09] #97 closed

[2018-04-12 18:33] Nathan187 commented on #97
no need.  i suffer from RTFM (or not)

[2018-04-25 18:06] serge-glance opened #98 "UItextview, Uitextfield, UiSlide do not conform to ValidatableInterfaceelement"
I just upgraded to xcode 9.3.

Am getting non conformance to ValidatableInterfacElement protocol
specifically the method:
public func validate<R: ValidationRule>(rule r: R) -> ValidationResult where R.InputType == InputType {
        let result = Validator.validate(input: inputValue, rule: r)
        if let h = validationHandler { h(result) }
        return result
    }

i copied and pasted it int

[2018-04-26 09:27] adamwaite commented on #98
See https://github.com/adamwaite/Validator/issues/93

[2018-04-26 09:27] #98 closed

[2018-05-04 06:58] Tayyab-VenD opened #99 "Anyway to pass custom error based on specific condition?"
The `ValidationRuleCondition` accepts a block to evaluate a custom condition. But is there anyway to pass custom error based on a specific condition. I know there is `ValidationRuleSet` to validate multiple inputs. But my specific use case requires me to return custom errors based on specific conditions. Is there an elegant solution to do this?

[2018-05-05 00:03] serge-glance opened #100 "issue 93/98 still exists"
pod Validator

gets the latest, but it is still occurring with Xcode 9.3

Don't know how you can close an issue when it is not resolved. easily repeatable.

[2018-05-05 06:01] adamwaite commented on #100
Xcode version? Pod version? Swift version?

Read the CocoaPods documentation. You're the only one experiencing the issue.

If you're asking for help, you should definitely examine your tone in future.

[2018-05-05 06:01] #100 closed

[2018-05-29 10:21] adamwaite commented on #99
`ValidationRuleSet` containing multiple `ValidationRuleCondition`s is the way to go for this use case.

[2018-06-07 10:07] tsangaris opened #101 "Getting error String"
Hi,

First of all, thanks for this great library! It's really helpful!

I am trying to validate an email using the following code:

    let emailRule = ValidationRulePattern(pattern: EmailValidationPattern.standard, error: ValidationError(message: "wrong type of email") )

    let emailValidationResults = emailValue.validate(rule: emailRule)

    switch emailValidationResults {
    case .valid:

[2018-06-08 06:14] Tayyab-VenD commented on #99
Just to clarify my requirement, I needed to check whether the entered value is an email or phone number. Both rules had different error messages. If email is validated, phone number rule should not be checked. Similarly if phone number is validated, email rule should not be checked. So as you suggested, I used multiple `ValidationRuleCondition` but with their `OR`ing. Following is the extension I

[2018-06-11 11:10] adamwaite commented on #101
Hi @tsangaris.

Thanks for the well-formed question.

Looks like the documentation is out-dated! Thank you for pointing that out.

I think in previous versions the `ValidationResult.invalid([Error])` was actually `ValidationResult.invalid([ValidationError])`.

Here I have 2 fixes in mind for you:

1. Cast to `ValidationError` in the switch:

[code]

Or, extend error to have the message property:

[2018-06-11 11:10] adamwaite commented on #101
(Re-opening because I need to update the docs)

[2018-06-11 11:12] #82 closed

[2018-06-11 11:15] adamwaite commented on #99
Oh! I didn't understand your use-case! This is very interesting and I like your implementation.

I'm going to re-open this to considered in the next version, which I hope to start soon.

Thank you!

[2018-06-11 11:21] tsangaris commented on #101
Thanks a lot for your response, Adam!

Looking forward to checking the next version. And thanks for helping us not re-inventing the wheel all over again! :)

[2018-06-14 05:55] Tayyab-VenD commented on #99
Glad to hear that :)

And I would like to raise one more use case. Its the localization that needs to be handled. If the language of an app is changed at runtime, there should be a way to update the localization of error message.

It would be great to have examples of these use cases in the readme.

[2018-07-31 01:27] RowanG1 opened #102 "Validate whether a textfield string is an integer"
I have tried doing the following:
--------------------
var postalCodeRules = ValidationRuleSet<Int>()
let minLengthRule = ValidationRuleLength(min: 1, error: ValidationErrors.minLengthInvalid)
postalCodeRules.add(rule: minLengthRule)
--------------------

But I get error in Xcode "Generic parameter type R could not be inferred".

[2018-08-17 11:09] AgapovOne commented on #70
@DzonyKalafut is right. Your example is incorrect. You should specify non-optional generic for `ValdiationRuleRequired`. Otherwise it won't work.
Please, fix README with these lines:
[code]

[2018-09-12 16:49] syvertsj opened #104 "Xcode 9.4.1 / swift 4.1 build failures"
I notice updates here for swift 4.1. Either 'pod' is not pulling it or they are not working.

UISlider, UITextField, UITextView extensions do not conform to ValidatableInterfaceElement.
This can be worked around by unlocking the pod and modifying the extensions.

[2018-09-24 01:57] sumac13 opened #105 "swift 4.2 update"
Can the updates for swift 4.2 be pushed to the cocoapods spec repo?

[2018-09-26 06:03] adamwaite commented on #105
Hello. Validator 3.1 has been published and is built on Swift 4.2 (Xcode 10). Apologies for the delay. https://cocoapods.org/pods/Validator

[2018-09-26 06:03] #105 closed

[2018-09-26 06:06] adamwaite commented on #104
Hi. I thought this one was fixed a while ago (https://github.com/adamwaite/Validator/issues/98) - are you sure you are up to date.

In other news, 3.1 was released (Swift 4.2, Xcode 10), so get on that instead.

https://github.com/adamwaite/Validator/issues/105

[2018-09-26 06:06] #104 closed

[2018-09-26 06:12] adamwaite commented on #102
Hi. You need to specialise the ValidationRuleSet.

Like this:

<img width="1201" alt="screenshot 2018-09-26 at 07 11 31" src="https://user-images.githubusercontent.com/1426233/46060512-89a0c680-c15b-11e8-877b-0c70c11b961c.png">

[2018-09-26 06:12] #102 closed

[2018-09-26 06:14] mud18 commented on #105
Thanks @adamwaite . :)

[2018-09-27 00:29] syvertsj commented on #104
I am using Xcode 9.4.1 at the moment.
I am going to try Xcode 10.

On Wed, Sep 26, 2018 at 2:06 AM Adam Waite <notifications@github.com> wrote:

[2018-10-07 19:14] metabren opened #106 "iOS 10 deployment target required?"
Hey @adamwaite! Firstly, thank you for the great library 🙏

I  have a question regarding the deployment target: it was recently raised to 10.0 — was this required to facilitate some new functionality or would you still be able to support 9.1?

Thank you!

[2018-10-15 08:34] josipbernat opened #107 "UITextView+Validator - needs update on notification names"
I've created new project using Xcode 10 and Swift 4.2. After installing Validator using CocoaPods I was getting following error: 'UITextViewTextDidChange' has been renamed to 'UITextView.textDidChangeNotification'.

After changing to: UITextView.textDidChangeNotification error was gone.
I can submit PR with this fix if you want.

Thanks,
Josip

[2018-10-15 08:53] adamwaite commented on #107
I think you have an old version of the pod? https://github.com/adamwaite/Validator/blob/master/Validator/Sources/UIKit%2BValidator/UITextView%2BValidator.swift

[2018-10-15 08:55] josipbernat commented on #107
I guess you are right! I copy pasted pod 'Validator' into pod file but I didn't make pod update after that.

[2018-10-15 08:55] #107 closed

[2018-10-15 08:55] adamwaite commented on #106
To be honest I just bumped it because I thought < iOS10 is pretty ancient these days. Feel free to open a PR.

[2018-10-15 17:39] metabren commented on #106
Thanks @adamwaite. Please see #108.

[2018-10-15 23:05] #106 closed

[2018-10-16 20:20] syvertsj opened #109 "Xcode 10 build failure - location of textDidChangeNotification() in UITextView+Validator.swift"

[2018-10-17 03:13] zezek commented on #109
I'm seeing the same thing: 'textDidChangeNotification' has been renamed to 'NSNotification.Name.UITextViewTextDidChange'

[2018-10-17 09:00] adamwaite commented on #109
I think you're using an old version. See https://github.com/adamwaite/Validator/issues/107.

[2018-10-17 09:00] adamwaite commented on #109
Pod `3.1.1`

[2018-10-17 13:33] syvertsj commented on #109
I see this with pod 3.1.1 and 3.1.0.
Version 3.0.2 is alright.

[2018-10-17 13:34] adamwaite commented on #109
I can build, run and test on Xcode 10 fine with 3.1.1.

[2018-10-18 00:44] shoaibahmedqureshi commented on #90
Is it still a valid issue ? I would like to help in fixing if it is.

[2018-10-18 02:40] shoaibahmedqureshi commented on #90
I looked into this issue and it is because of the simple format given in the library. Standard format pretty much covers all email addresses and I am not sure the reason for keeping the simple format. Can anyone further guide me through it ?

[2018-10-24 15:25] rehannali opened #111 "Verify All rules"
First of all, Thank you for such kind of Pod. It is very helpful.
Hi, I have form of different textfield and i've set all validation. Individually these are working fine. I need to check while submit while are field are valid or not. I read documentation but i didn't understand how can i do that?
You know some kind of check i.e. rule.allValid -> true or false (Something like that or anything else

[2018-11-05 07:53] nrikiji opened #112 "[question] Is there a way to execute validation on items that have been entered?"
Is there a way to execute validation on items that have been entered?

example
[code]

email is not required.
If you want to execute the above validation only if there is input.
thanks

[2018-11-05 17:48] #112 closed

[2018-11-05 17:51] nrikiji opened #113 "ValidationRuleRequired is not working"
Why is this code valid?
How to use Wrong?

[code]

[2018-11-05 23:13] drdaz commented on #109
Yeah I'm getting this with Xcode 10 too in one of my projects. Through CocoaPods.

It's very weird though. I tried to create a reproducer with just Validator in the Podfile, but the error doesn't occur.

[2018-11-20 13:10] intonarumori opened #114 "Give an example to validate an email address"
Please give a straightforward example to validate an email string: `let email: String?`

Let's check for a value first (required) then for pattern (valid email address)

From the many examples it's not clear how to do it.
I was only able to do it by unwrapping the value first, but that just defeats the purpose of the library.

Also, you give some examples with `ValidationError` but that class is n

[2018-11-22 15:47] aodhol commented on #109
I get this issue with 3.1.1

[2018-11-22 15:54] aodhol opened #115 "Compilation error"
Version: 3.1.1
Xcode: 10.1 (10B61)
macOS: 10.14

`'textDidChangeNotification' has been renamed to 'NSNotification.Name.UITextViewTextDidChange'` and

`'textDidChangeNotification' has been renamed to 'NSNotification.Name.UITextViewTextDidChange'`

The following code changes seems to fix the issue:

[code]

[2018-11-26 17:19] adamwaite opened #116 "Validator Version 5"
Validator was originally written when I was learning Swift (Swift 2) and has been adapted for Swift 3 and Swift 4. Now feels like a good time to update the code to honour the latest SDKs and Swift conventions.

Goals:

1. Eliminate that horrible Objective-C run time stuff.

2. Make the ValidationResult a monoid and follow functional programming conventions over those dodgy `merge` style methods.

[2018-11-29 15:46] aodhol commented on #109
@adamwaite this still happens to me on the latest version and looking at the code in 3.1.1 the old style `textDidChangeNotification` notification names are still there...

[2018-12-01 09:11] anelad commented on #113
True. I've just encountered that too. Will try to fix and create a pull request.

[2018-12-01 09:39] anelad commented on #116
Do not forget to fix #113, it is a widely used rule. Actually, I'm not sure why you use generics in the first place; this is a text field, its input type will be `String` one or the other way.

P.S. I would like to work with you in this. You might contact me at arda@avorna.com if you like.

[2019-06-05 11:41] tevelee opened #120 "Xcode 11 & Swift 5.1 build failure"
![Screenshot 2019-06-05 at 13 36 58](https://user-images.githubusercontent.com/443078/58953602-46413200-8797-11e9-8074-546397f7dc09.png)
![Screenshot 2019-06-05 at 13 42 55](https://user-images.githubusercontent.com/443078/58953842-df704880-8797-11e9-8bc4-22a58cd9e4dc.png)
![Screenshot 2019-06-05 at 13 43 04](https://user-images.githubusercontent.com/443078/58953843-df704880-8797-11e9-8878-a021fe9

[2019-06-05 18:34] adamwaite commented on #92
Captured this in https://github.com/adamwaite/Validator/issues/116

[2019-06-05 18:34] #92 closed

[2019-06-05 19:23] adamwaite commented on #111
This is explained in the docs. Closing this because you're probably past this now :)

[2019-06-05 19:23] #111 closed

[2019-06-05 19:24] adamwaite commented on #114
Duplicate of https://github.com/adamwaite/Validator/issues/90. Fixing now.

[2019-06-05 19:24] #114 closed

[2019-06-05 19:24] adamwaite commented on #120
Thanks, working on this now.

[2019-06-05 22:36] adamwaite commented on #90
Thanks

[2019-06-05 22:36] #90 closed

[2019-06-05 22:38] adamwaite commented on #99
Hi, the next version (3.2) addresses the localization by introducing ValidationError. I have decided to leave out the `or` for now though.

[2019-06-05 22:38] #99 closed

[2019-06-05 22:49] adamwaite commented on #120
Fixed in https://github.com/adamwaite/Validator/commit/4ef95eb33af5624647f9f0a4bf457916e0fabfca

[2019-06-05 22:49] #120 closed

[2019-06-05 22:49] adamwaite commented on #115
Fixed in https://github.com/adamwaite/Validator/commit/4ef95eb33af5624647f9f0a4bf457916e0fabfca

[2019-06-05 22:49] #115 closed

[2019-06-05 22:50] adamwaite commented on #109
Fixed in https://github.com/adamwaite/Validator/commit/4ef95eb33af5624647f9f0a4bf457916e0fabfca

[2019-06-05 22:53] adamwaite commented on #109
(I think). This one is strange.

[2019-06-05 22:53] #109 closed

[2019-06-05 22:55] adamwaite commented on #101
Updated the README now 👍

[2019-06-05 22:55] #101 closed

[2019-06-05 22:55] adamwaite commented on #78
I can't think of a nice solution for this!

[2019-06-05 22:57] adamwaite commented on #116
~~Make the ValidationResult a monoid and follow functional programming conventions over those dodgy merge style methods.~~ Can't transform empty values in the validation enum.

[2019-06-05 22:58] adamwaite commented on #116
TODO:
- [ ] Travis
- [ ] Eliminate that horrible Objective-C run time stuff.
- [ ] swift-package
- [ ]

[2019-06-09 14:37] alexolivier opened #122 "Missing return in a function expected to return 'Bool'"
Upgraded to Swift 5 and build fails on `ValidationResult.swift` - `isValid` does not return a Bool

[code]

[2019-06-10 06:23] #122 closed

[2019-06-11 08:47] StevenArmandLee opened #123 "missing s.swift_version"
there is the need of changing swift language being used for the framework when  s.swift_version is missing in the pod spec

[2019-06-20 09:39] Lopdo commented on #122
Do you have plans to make a new release that will include this fix soon? Latest version still has this problem

[2019-06-20 09:53] #123 closed

[2019-06-20 09:53] adamwaite commented on #122
Done 3.2.1

[2019-06-20 12:37] Lopdo commented on #122
Thanks! I just noticed that part of the same commit that introduced this bug, `merge` methods on `ValidationResult` were removed. Was this intentional? if so, what is the right way of merging multiple results now?

[2019-07-18 06:39] oscarvgg opened #125 "Swift Package Manager Support for Validator"
Are there any plans to add support for SPM?

[2019-07-18 10:22] adamwaite commented on #125
Yeah it's planned. Will comment here once I get the time.

[2019-08-21 02:29] shayneoneill commented on #97
Some indication of what the "validationError" thats passed to the constructor is supposed to be would be welcome though.

[2019-09-06 19:38] rodscoutinho commented on #116
Just a thought for version 4, sometimes when using the validate function you also need to get a list of rules which validation succeeded on, not just errors. For example: if I input "qwerty" as my password and I have 3 rules, length x 8, uppercase x 1, lowercase x 1, I might display to the user 2 rules as error messages, but also show that they have satisfied the lowercase condition. Under a text

[2019-09-17 07:12] nrikiji commented on #122
Is this question solved?

[2019-09-19 05:29] nrikiji opened #126 "Alternative method of validationResult merge method"
https://github.com/adamwaite/Validator/commit/f9e0b5916e493e9750915a473b0fdf3581fe7aa0#diff-82cfdd33ac3981dee67efa99e2338154L14

this is question.

With this commit, ValidationResult.swift's merge method has been deleted, but I would like to know if there is an alternative method here

[2019-09-24 04:41] code-draft opened #128 "Swift Compiler Error due to multiple Ambiguous use of 'validate' error"
After updating to **Xcode Version 11.0 (11A420a)** on **macOS Mojave Version 10.14.6 (18G95)**,  with **Cocopods Version 1.7.5**, **Validator Pod Version swift-4.2**

`pod 'Validator', :git => 'https://github.com/adamwaite/Validator.git', :branch => 'swift-4.2'`

I have been facing this error.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/22313617/65481392-c4deee00-

[2019-09-24 09:21] kennybuc commented on #128
@code-draft I have got the same issue on Xcode 11

[2019-09-25 04:51] antonioreyna commented on #128
me too, any fix?

[2019-09-25 06:26] adamwaite commented on #128
Hi guys I'll look into this when I get a bit of spare time. I haven't had chance to run the lib on Xcode 11 yet.

[2019-09-27 08:27] Moistbobo commented on #128
I got around this problem by renaming the validate function by adding an extra e so it wouldn't clash with what ever was causing the ambiguous errors.

I don't have and swift/objC experience as I work mostly in react native, so I don't know if this will have any ill effects.

[code]

[2019-09-29 12:06] mostafakram commented on #128
Anyone is working on a PR for this?

[2019-10-03 12:02] baha-che commented on #128
I have got the same issue on Xcode 11, any fix?

[2019-10-04 00:28] PikaRules opened #129 "cannot build with xcode 11 (need xcode 11 swift 5.1 suppport)"
on UITextView+Validator

the compiler shows the following error on line 11:

'textDidChangeNotification' has been renamed to 'NSNotification.Name.UITextViewTextDidChange'

therefore you cannot build.

[2019-10-08 13:08] drdaz commented on #128
Funny thing. I cloned this and was about to make a PR. But the source builds fine in master. It's been fixed, but not released:

https://github.com/adamwaite/Validator/blob/master/Validator/Sources/UIKit%2BValidator/UITextField%2BValidator.swift

[2019-10-08 13:08] drdaz commented on #128
@adamwaite is master safe to use?

[2019-10-20 09:12] ssferrazza commented on #128
I guess this one is the cause:
https://developer.apple.com/documentation/uikit/uiresponder/3229892-validate

Added in iOS 13

[2019-10-21 03:30] Jinxiansen commented on #129
@PikaRules your version ?
Try upgrading to 3.2.1.

[2019-10-24 06:11] CGseng commented on #128
I have got the same issue on Xcode 11

[2019-10-25 14:41] piv199 commented on #128
@code-draft the problem is that you are using outdated branch instead of master (where everything works as expected). Or are there any requirements to use that branch?

Just use: `pod Validator`

[2019-10-25 14:47] piv199 commented on #129
This was already renamed in the latest releases. Please, follow the installation guide. Make sure you are using **latest** release available.

@adamwaite This could be closed as well as previous one.

[2019-10-25 14:54] piv199 commented on #126
@adamwaite this seems reasonable.

As fo this commit I also can't understand why you have moved to ValidationError everywhere thus it gives additional overhead of passing non-owning errors?

[2019-10-25 15:04] piv199 commented on #116
Actually, I use validator quite a lot without UI and therefore validation for numbers are quite useful.

[2019-10-25 15:19] anelad commented on #116
@piv199, then a separate number validation should be implemented. But "textview" says it's a UI for text. It's input is string at the first place. To make the code more flexible, trashing the scope is not a good idea.

For the coupling between error and message, I do not understand what you really mean. What I understand is the need of creating custom Error's with messages. If it is what I underst

[2019-10-29 11:20] FabrizioSposetti-U commented on #128
I'm using 'pod Validator' and the error still remains. Some news?

[2019-10-29 11:30] piv199 commented on #128
@FabrizioSposetti-U Have you tried `pod update Validator`? The latest version is `3.2.1`. Check your Podfile.lock.

[2019-10-29 12:38] FabrizioSposetti-U commented on #128
Yes, it works. Now im facing troubles because of merge method. I was using it a lot and it does not exist any more.

[2019-10-30 18:01] shenck commented on #129
@piv199 I'm not seeing the change in the repo.  https://github.com/adamwaite/Validator/blob/master/Validator/Sources/UIKit+Validator/UITextView+Validator.swift .
It is still using 'textDidChangeNotification'

[2019-10-30 18:19] piv199 commented on #129
@shenck Can't get the problem.
I have Xcode11 and swift 5.1 and everything comiles and works.

Documentation says it's still UITextView.textDidChangeNotification
https://developer.apple.com/documentation/uikit/uitextview/1618609-textdidchangenotification

[2019-10-30 18:24] piv199 commented on #129
@shenck Actually, I have set swift version to 4.0 and your problem has occurred. Please set Swift version at least to 4.2 for the latest release.

[2019-10-30 18:39] shenck commented on #129
@piv199 Thanks!!  Working now

[2019-11-11 14:21] evgenykarev opened #131 "Simple email validation regexp pattern is commented"
Look at https://github.com/adamwaite/Validator/blob/master/Validator/Sources/Patterns/EmailValidationPattern.swift

Simple and standart patterns are equal. Is it a bug?

In the version 3.0.2 they was different.

[2019-11-18 16:55] davisford commented on #125
Would you accept a PR to add support for it?

[2019-11-19 13:41] muni510 commented on #126
I have extended the class with merge method

`extension ValidationResult {
    /**

     Merges the receiving validation rule with another.

[code]

     - Parameters:
        - result: The result to merge into the receiver.

     - Returns:
     Merged validation result.

     */
    public func merge(with result: ValidationResult) -> ValidationResult {
        switch self {
        case .valid:

[2019-11-19 23:01] shayna34 commented on #125
Hello! I just opened PR #132 to address this.

[2019-11-22 11:15] defib22 opened #133 "Getting Error due to operator overloading in Swift 5.1"
Cannot invoke initializer for type 'ValidationRulePattern' with an argument list of type '(pattern: EmailValidationPattern, error: ValidationError)'
<img width="1027" alt="Screenshot 2019-11-22 at 4 44 39 PM" src="https://user-images.githubusercontent.com/10154955/69421615-86956c00-0d47-11ea-99cf-8226dca5af0c.png">

[2020-01-06 09:35] anphanngocvn commented on #133
@defib22 Change your custom validator struct to something like this will resolved the above issue:

struct ExampleValidationError: ValidationError {

    let message: String

    public init(_ message: String) {

        self.message = message
    }
}

[2020-01-22 07:01] nitish391992 opened #135 "xcode 11.3.1 gives an error "Ambiguous use of 'validate' ""
When i tries to make  build of my project validator package class UITextView+validator.swift gives an error message "Ambiguous use of 'validate' ". Please  fix it.

[2020-01-29 19:09] be-bert opened #136 "ValidationRuleSet init(rules: [Rule]) does not work with more than one Rule"
I noticed when trying to use `ValidationRuleSet`s `public init(rules: [Rule])` with more than one `Rule` with the same validate type I get an error.

For example using `ValidationRuleLength` and an email pattern with `ValidationRulePattern`,
provides the Xcode compile time error `Cannot convert value of type 'ValidationRuleLength' to expected element type '_'`

Any ideas how to solve this?  Curren

[2020-03-16 09:11] AttilaTheFun commented on #125
@adamwaite could you also cut a new version for the SPM support? The last version was from July but SPM support merged in November. This means that consumers have to select 'master' instead of a version range from Xcode.

[2020-03-23 06:00] Vidhyadharan24 opened #137 "Inconsistent deployment target on SPM"
The iOS deployment target for iOS and tvOS on both cocoapods and Carthage is 9.0 and 10.0 respectively, while the deployment target for iOS and tvOS on SPM is 11.0 for both, it would be better to match the deployment target for SPM to that of the other dependency managers.

[2020-03-23 06:01] Vidhyadharan24 commented on #125
@adamwaite can you set the deployment target for iOS as 9.0 and tvOS as 10.0.

[2020-04-16 18:24] BrentMifsud commented on #136
I have the same issue when using a ValidationRuleCondition<String> with a ValidationRulePattern

it works fine if you init a ruleset first and then add them afterwards.

[2020-05-25 16:55] BrentMifsud commented on #137
Not only this, but there has not been a release cut for SPM support. So when you try to add as an SPM dependency, it fails to find the package manifest.

The fix is simple, just add a new release tag.